#main{
  background-image:url(img.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  height: 40px;
  width: 132px;
  border: 15px;
  background: #2d22f8ee;
  border-radius: 20px;
  cursor: pointer;
}

.lable {
  line-height: 20px;
  font-size: 20px;
  color: #f8f2f2;
  letter-spacing: 1px;
}

.button:hover {
  background: #5951feea;
}

.button:hover .svg-icon {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

